@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", "sans-serif";
    --color-color1: #1A1A1A;
    --color-color2: #090D1F;
    --color-color3: #6941C6;
    --color-color4: #667085;
    --color-color5: #C0C5D0;

}

@custom-variant dark (&:where(.dark, .dark *));